.body {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    padding: 0 3% 20px 3%;
    gap: 30px;
}

.bio {
    font-size: 16pt;
    text-align: justify;
    color: rgb(230, 230, 230);
}

.text {
    text-indent: 40px;
}

.image {
    /* max-height: 450px; */
    object-fit: contain;
    max-width: 600px;
}

.link {
    color: white;
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: red;
}

@media (max-width: 1200px) {
    .body {
        flex-direction: column-reverse;
    }

    .image {
        align-self: center;
    }
}