.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, blue, blue 20%, purple 49%, purple 51%, blue 80%);
    background-size: 200% 100%;
    animation: wave 5s linear infinite;
    opacity: 1;
    z-index: 99;
}

.container.transparent {
    opacity: 0;
}

.text {
    top: 0;
    left: 0;
    margin: auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50pt;
}

.hidden {
    display: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

@keyframes wave {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}