.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 1;
    z-index: 99;
    /* transition: opacity 800ms, height 0 800ms, width 0 800ms; */
    transition: opacity 800ms;
}

.container.transparent {
    opacity: 0;
    display: none;
}

.text {
    top: 0;
    left: 0;
    margin: auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45pt;
    max-width: 100vw;
    position: relative;
    color: var(--wave-color);
    filter: invert(100%);
}

/* .hidden {
    display: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
} */

.fadeOut .text {
    display: none;
}

.loading .text {
    display: none;
}

/* .fadeOut {
    opacity: 0;
    width: 0;
    height: 0;
} */

.fadeOut {
    animation: fadeout 300ms linear forwards;
}

@keyframes fadeout {
    99% {
        opacity: 0;
        height: initial;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

/* .waiting {
    position: relative;
    overflow: hidden;
} */

.waiting::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(0, 0, 125), rgb(0, 0, 125) 10%, var(--wave-color) 24%, var(--wave-color) 26%, rgb(0, 0, 125) 40%, rgb(0, 0, 125) 60%, var(--wave-color) 74%, var(--wave-color) 76%, rgb(0, 0, 125) 90%);
    background-size: 200% 100%;
    animation: wave 15s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}