.indexContainer {
  top: 0;
  left: 0;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.indexBox {
  background-color: rgba(118, 131, 139, 0.943);
  width: 50vw;
  min-height: 30vh;
  min-width: 300px;
  padding: 2vh;
  z-index: 3;
  border: red dashed 0.1vh;
}

.indexTitle {
  display: flex;
  border-bottom: solid black 0.15vh;
  margin-bottom: 1.8vh;
  font-size: 6vh;
  flex-direction: row;
  justify-content: space-between;
}

.indexBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 4vh;
}

.indexBody li {
  margin: 0.5vh;
}

.info {
  font-size: 2.5vh;
  /* max-width: 15vw; */
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.infoBody {
  display: flex;
  flex-direction: column;
}

.location {
  font-size: 2vh;
  font-style: italic;
}

.pages {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.pages li {
  transition: color 0.3s ease;
}

.pages li:hover {
  color: rgb(50, 0, 250);
}

.locales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  font-size: 3vh;
  margin-bottom: 1vh;
  margin-right: 0.7vh;
}

.locales a {
  border: rgb(181, 181, 181) outset 1px;
  border-radius: 0.7vh;
  padding: 0 0.3vh 0.6vh 0.3vh;
  color: rgba(255, 255, 255, 1);
}

.locales a:hover {
  border-color: #F06292;
}

.locales a:active {
  border-color: #C2185B;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
  gap: 2vh;
  font-size: 2.2vh;
  color: aliceblue;
  border-top: solid black 0.15vh;
}

.socials a {
  /* same as indexBox padding */
  margin-top: 2vh;
  padding: 0.5vh;
  border-radius: 0.5vh;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.socials a:hover {
  opacity: 1;
}